@import "tailwindcss";

@theme {
    --background-primary: #000;
    --color-primary: #a0a0a0;
}

@layer base {
    body {
        background-color: var(--background-primary);
        color: var(--color-primary);
        font-family: "Inter", sans-serif;
    }
}

@layer components {
    .tooltip {
        @apply relative;
    }

    .tooltip::after {
        content: attr(data-tooltip);

        @apply absolute bottom-full left-1/2 z-50 mb-2
            -translate-x-1/2
            rounded-md bg-[#282828]
            px-3 py-1.5
            text-xs font-semibold text-white
            whitespace-nowrap
            opacity-0 invisible
            pointer-events-none
            transition-opacity duration-150;
    }

    .tooltip:hover::after {
        @apply opacity-100 visible;
    }

    .tooltip-down::after {
        @apply top-full bottom-auto mt-2 mb-0;
    }

    .equalizer-bar {
        width: 2px;
        height: 10px;
        border-radius: 9999px;
        background: #1ed760;
        transform-origin: bottom;
        animation: equalizer 0.25s ease-in-out infinite alternate;
    }

    .equalizer-bar:nth-child(2) {
        height: 7px;
        animation-delay: 0.05s;
    }

    .equalizer-bar:nth-child(3) {
        height: 12px;
        animation-delay: 0.1s;
    }

    .equalizer-bar:nth-child(4) {
        height: 8px;
        animation-delay: 0.15s;
    }

    @keyframes equalizer {
        from {
            transform: scaleY(0.5);
        }

        to {
            transform: scaleY(1);
        }
    }
    /* Trạng thái mặc định */
    .track-play-button {
        display: none;
    }

    .track-equalizer {
        display: none;
    }

    /* Hover bài chưa phát */
    .track-row:hover .track-number {
        display: none;
    }

    .track-row:hover .track-play-button {
        display: flex;
    }

    /* Bài đang phát */
    .track-row.is-playing .track-number {
        display: none;
    }

    .track-row.is-playing .track-equalizer {
        display: flex;
    }

    /* Bài đang phát + hover → hiện Pause */
    .track-row.is-playing:hover .track-equalizer {
        display: none;
    }

    /* Scrollbar dropdown tìm kiếm */
    #trending-list {
        scrollbar-width: thin;
        scrollbar-color: #5a5a5a transparent;
    }

    /* Chrome, Edge */
    #trending-list::-webkit-scrollbar {
        width: 6px;
    }

    #trending-list::-webkit-scrollbar-track {
        background: transparent;
    }

    #trending-list::-webkit-scrollbar-thumb {
        background: #5a5a5a;
        border-radius: 9999px;
    }

    #trending-list::-webkit-scrollbar-thumb:hover {
        background: #7a7a7a;
    }

    #trending-list::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }

    
}
