* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 600px;
    height: 200px;
    display: flex;
    border: 2px solid red;
    margin: 0 auto 48px;
}

.box {
    width: 60px;
    height: 60px;
    background: red;
    border: 1px solid rebeccapurple;
    background-color: tomato;
    color: white;
}

.container-1 {
    justify-content: space-between;
    align-items: center;
}

.container-2 {
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.container-3 {
    align-items: center;
    flex-direction: column;
}

.container-3 .box:nth-child(1) {
    margin-bottom: 20px;
}

.container-3 .box:nth-child(2) {
    margin-bottom: 50px;
}

.container-4 {
    align-items: center;
    justify-content: center;
}

.container-4 .box:nth-child(1) {
    margin-right: 10px;
}

.container-4 .box:nth-child(2) {
    margin-right: 40px;
}

.container-5 {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.container-6 {
    justify-content: space-between;
    align-items: flex-start;
}

.container-7 {
    align-items: center;
    flex-direction: column;
}

.container-7 .box:first-child {
    margin-bottom: 60px;
}

.container-7 .box:last-child {
    margin-top: 20px;
} 

.container-8 {
    align-items: center;
}

.container-8 .box:nth-child(1) {
    margin-right: auto;
}

.container-8 .box:nth-child(3) {
    margin-left: auto;
}

.container-9 {
    justify-content: center;
    align-items: center;
    gap: 20px ;
}

.container-9 .box:first-child {
    margin-bottom: 20px;
}

.container-9 .box:last-child {
    margin-bottom: -20px;
}

.container-10 {
    justify-content: center;
    align-items: center;
}

.container-10 .box:first-child {
    margin: 0 auto auto 0;
}

.container-10 .box:last-child {
    margin: auto 0 0 auto;
}