* {
    box-sizing: border-box;
}

/* commom */
.container {
    max-width: 800px;
    margin: 0 auto;
    background: #f0f0f0;
    border: 1px solid black;
}

h2 {
    margin: 20px 0;
    padding: 5px;
}

p {
    margin: 20px 0;
    padding: 5px;
    opacity: 0.5;
    background-color: white;
    border: 1px solid black;

    &:last-child {
        margin-bottom: 0.4px;
        border-bottom: none;
    }
}

label {
    background: #f5eff8;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 999px;
    cursor: pointer;
}

input {
    cursor: pointer;
}

/* Header */
.heading {
    padding: 10px 0;
    color: white;
    background: orange;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    background: #f98000;
    border: 1px solid white;
}

/* Theme */
#light:checked {
    ~ .preview .desc-light {
        background: #fff8cc;
        color: #8b5e00;
        opacity: 1;
        border: 1px solid #92400e;
    }

    + label {
        background: #fff8cc;
        border: 1px solid #92400e;
        color: #8b5e00;
    }
}

#dark:checked {
    ~ .preview .desc-dark {
        background: #111827;
        opacity: 1;
        color: #f9fafb;
        border: 1px solid #111827;
    }

    + label {
        background: #111827;
        border: 1px solid #111827;
        color: #f9fafb;
    }
}

/* Color */
#red:checked {
    ~ .preview .desc-red {
        background: #fee2e2;
        opacity: 1;
        color: #991b1b;
        border: 1px solid #991b1b;
    }

    + label {
        background: #ec8585;
        color: #991b1b;
        border: 1px solid #991b1b;
    }
}

#blue:checked {
    ~ .preview .desc-blue {
        background: #dbeafe;
        opacity: 1;
        color: #1d4ed8;
        border: 1px solid #1d4ed8;
    }

    + label {
        background: #dbeafe;
        color: #1d4ed8;
        border: 1px solid #1d4ed8;
    }
}

#green:checked {
    ~ .preview .desc-green {
        background: #dcfce7;
        opacity: 1;
        color: #166534;
        border: 1px solid #166534;
    }

    + label {
        background: #dcfce7;
        color: #166534;
        border: 1px solid #166534;
    }
}

/* language */
#vi:checked {
    ~ .preview .desc-vi {
        background: #bbf7d0;
        opacity: 1;
        color: #166534;
        border: 1px solid #166534;
    }

    + label {
        background: #bbf7d0;
        color: #166534;
        border: 1px solid #166534;
    }
}

#en:checked {
    ~ .preview .desc-en {
        background: #bfdbfe;
        opacity: 1;
        color: #1d4ed8;
        border: 1px solid #1d4ed8;
    }

    + label {
        background: #bfdbfe;
        color: #1d4ed8;
        border: 1px solid #1d4ed8;
    }
}

/* options */
#adv:checked {
    ~ .preview .desc-adv {
        background: #fef3c7;
        opacity: 1;
        color: #92400e;
        border: 1px solid #92400e;
    }

    + label {
        background: #fef3c7;
        color: #92400e;
        border: 1px solid #92400e;
    }
}

#eco:checked {
    ~ .preview .desc-eco {
        background: #bbf7d0;
        opacity: 1;
        color: #15803d;
        border: 1px solid #15803d;
    }

    + label {
        background: #bbf7d0;
        color: #15803d;
        border: 1px solid #15803d;
    }
}

#war:checked {
    ~ .preview .desc-war {
        background: #fee2e2;
        opacity: 1;
        color: #b91c1c;
        border: 1px solid #b91c1c;
    }

    + label {
        background: #fee2e2;
        color: #b91c1c;
        border: 1px solid #b91c1c;
    }
}
